/* General */
body {
    background-color: #f8f8f8; 
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #f8f9fa;
    color: #333333; 
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}

/* Main content */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Section styles */
#introduction {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #f8f9fa; /* Azul claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    margin-bottom: 20px;
    max-width: 900px;
    width: 100%; /* Adaptación al contenedor */
}

/* Left content */
.content-left {
    flex: 1;
    margin-right: 20px;
}

/* Right content (image) */
.content-right img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Section text */
h2 {
    color: #24497d; /* Azul oscuro para contraste con el fondo claro */
    margin-bottom: 10px;
}

p {
    color: #fff;
    line-height: 1.6;
}

/* Cancer relation section */
#cancer-relation {
    background-color: #f34c33; /* Rojo claro */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
}

/* Cancer characteristics */
#cell-characteristics {
    background-color: #75a7f9; /* Azul claro */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f34c33; /* Rojo claro */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

/* Buttons (if needed later) */
button {
    background-color: #24497d; /* Azul más oscuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #1b375e;
}

