body {
    background-color: #f4f4f4; /* Gris muy claro */
    color: #333333; /* Gris oscuro para texto */
    font-family: 'Lato', sans-serif; /* Fuente moderna y limpia */
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #2d2d2d; /* Gris oscuro */
    color: #e0e0e0; /* Gris claro para contraste */
    text-align: center;
    padding: 13px 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
}

/* Main content */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;
}

/* Section styles */
#introduction {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white; 
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px;
    max-width:900px;
    width: 160%; /* Adaptación al contenedor */
}

/* Left content */
.content-left {
    flex: 1;
    margin-right: 20px;
}

/* Right content (image) */
.content-right img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Section text */
h2 {
    color: #333333; /* Gris oscuro */
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    color: #555555; /* Gris medio */
    line-height: 1.6;
}

/* Cancer relation section */
#cancer-relation {
    background-color: #f5a623; /* Naranja suave */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

button:hover {
    background-color: #357ABD; /* Azul más oscuro */
}
